Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a='makarand'
b=[2,3,45,6]
c=3.4
d=(2,3,4)

In [5]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [10]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [11]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Divison operator = / (this operator is used for division of two numbers)

In [13]:
10/2

5.0

Modulus operator = % (this operator is used for showing reminder result of division of two numbers)

In [17]:
30%4

2

Floor division operator = // (this operator is used for showing dividend result of division of two numbers)

In [18]:
15//3

5

Power operator = ** (this operator gives the result of left hand number's power, e.g four to the power of three)

In [19]:
4**3

64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [22]:
l=[1,2,4,'makarand',34.5,3+4j,'raj',23.2,56,78]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>

Q5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [29]:
a=int(input())
b=int(input())

if a%b==0:
    print('a is divisible by b')
    c=a/b
    print('a can be divided',c,'times by b' )
    
else:    
    print('a is not divisible by b')

 20
 2

a is divisible by b
a can be divided 10.0 times by b

Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [47]:
l=list(range(0,25))
for i in l:
    if i%3==0:
        print(i,'number is divisible by 3')
    else :
        print(i,'number is not divisible by 3')

0 number is divisible by 3
1 number is not divisible by 3
2 number is not divisible by 3
3 number is divisible by 3
4 number is not divisible by 3
5 number is not divisible by 3
6 number is divisible by 3
7 number is not divisible by 3
8 number is not divisible by 3
9 number is divisible by 3
10 number is not divisible by 3
11 number is not divisible by 3
12 number is divisible by 3
13 number is not divisible by 3
14 number is not divisible by 3
15 number is divisible by 3
16 number is not divisible by 3
17 number is not divisible by 3
18 number is divisible by 3
19 number is not divisible by 3
20 number is not divisible by 3
21 number is divisible by 3
22 number is not divisible by 3
23 number is not divisible by 3
24 number is divisible by 3

Q7.What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types means those data types which data can we change internally by acessing it.
for example LIST is mutable data types.In list we can access the data and we can replace it also

Imutable data types means those data types which data can not be rewrite after once we have assigned it to some variable.
for example string data type is immutable.